{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Register page' %}
{% endblock %}

{% block content %}


    {% if request.user.is_authenticated %}
         <h3> {% trans 'Account is active' %} {{ request.user.username }} </h3>

    {% else %}
        <h2> {% trans 'Registration' %} </h2>
        <hr>
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit"> {% trans 'Sing up' %}  </button></p>
        </form>
    {% endif %}
{% endblock %}

