{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'List shop' %}
{% endblock %}


{% block content %}
    {% if shop_list.count == 0 %}
        <h2> {% trans 'the list of stores is empty' %} </h2>
    {% else %}
        {% for shop in shop_list %}
            <p> <details>
                <summary >  <b> {{ shop.name }} </b> </summary>
                     {% if shop %}
                        <ul>
                        {% for item in shop.sell_item.all %}
                                    <p><li><a href="{% url 'item_detail' item.id %}"> {{ item.name }} </a>

                        {% endfor %}
                        </ul>
                    {% endif %}
            </details>
        {% endfor %}

    {% endif %}
{% endblock %}